@page "/"

<h1>Samples:</h1>
<ul>
    <li>
        <NavLink href=@($"/chatroom")>Chatroom sample</NavLink>
    </li>
    <li>
        <NavLink href=@($"/tasklists")>Task List sample</NavLink>
    </li>
</ul>