@page "/edit/{taskListId}"
@using Google.Cloud.Firestore
@using BlazorServerFirestore.Data
@inject FirestoreDb firestoreDb

@if(taskList != null){
    <form>
        <input @bind="taskList.Name" />
        @foreach (var task in taskList.Tasks)
        {
            <input @bind="task.IsDone" type="checkbox" />
            <input @bind="task.Content" />
        }

        <button type="submit" @onclick="SaveTaskList" @onclick:preventDefault>Save</button>
    </form>
}

@code{
    [Parameter]
    public string taskListId { get; set; }
    private TaskList taskList;
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var taskListSnapshot = await firestoreDb.Collection("taskLists")
            .Document(taskListId)
            .GetSnapshotAsync();

        taskList = taskListSnapshot.ConvertTo<TaskList>();
    }

    private async System.Threading.Tasks.Task SaveTaskList(){
        var taskListRef = firestoreDb.Collection("taskLists").Document(taskListId);
        await taskListRef.SetAsync(taskList);
    }
}